<h1><%= @user.name %></h1>

<table border="1" cellspacing="0" cellpadding="4">
  <% @products.each do |p| %>
    <tr>
      <td><b><%= p.name %></b></td>
      <td><%= @user.records_for_product(p).count %></td>
    </tr>
  <% end %>
  <tr>
    <td><b>Total</b></td>
    <td><%= @user.total_price %>€</td>
  </tr>
</table>

<h2>Activity</h2>

<table border="1" cellspacing="0" cellpadding="4" style="width: 500px">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created at</th>
      <th>Type</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @user.consumptionRecords.all(:order => [ :created_at.desc ]).each do |r| %>
    <tr>
      <td><%= r.id %></td>
      <td <%= "style=\"color: #AAA\" title=\"Batch record\"" if r.batch %>><%= r.created_at.to_time.utc %></td>
      <td><%= r.product.name %></td>
      <td><%= sprintf "%.2f", r.price %>€</td>
    </tr>
  <% end %>
</ul>
