<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= ENV['APP_FULL_NAME'] || "Inventory Tracker" %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    
    <script type="text/javascript">
      $(document).ready(function() {
        var num = 0;
        slide_down(500);

        $("#quantity-slider").click(function() {
          if (num < 5) {
            slide_down(0);
          }
          else {
            $("ul", this).animate({top: '-60px'}, 200);
            num = 1;
          }
          $("form > input.quantity").attr("value", num);
        });

        function slide_down(d) {
          $("ul", "#quantity-slider").delay(d).animate({top: '-=60px'}, 200);
          num += 1;
        }
      });
    </script>

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      .container {
        padding-top: 60px;
      }
      
      .my-btn {
        font-size: 20px !important;
        margin-top: -10px;
        width: 125px !important;
      }
      
      .btn.aromatico {
        background-color: #A60020 !important;
        background-image: -khtml-gradient(linear, left top, left bottom, from(#DE0023), to(#A60020)) !important;
        background-image: -moz-linear-gradient(top, #DE0023, #A60020) !important;
        background-image: -ms-linear-gradient(top, #DE0023, #A60020) !important;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DE0023), color-stop(100%, #A60020)) !important;
        background-image: -webkit-linear-gradient(top, #DE0023, #A60020) !important;
        background-image: -o-linear-gradient(top, #DE0023, #A60020) !important;
        background-image: linear-gradient(top, #DE0023, #A60020) !important;
      }
      
      .btn.intenso {
        background-color: #707521 !important;
        background-image: -khtml-gradient(linear, left top, left bottom, from(#A6B116), to(#707521)) !important;
        background-image: -moz-linear-gradient(top, #A6B116, #707521) !important;
        background-image: -ms-linear-gradient(top, #A6B116, #707521) !important;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A6B116), color-stop(100%, #707521)) !important;
        background-image: -webkit-linear-gradient(top, #A6B116, #707521) !important;
        background-image: -o-linear-gradient(top, #A6B116, #707521) !important;
        background-image: linear-gradient(top, #A6B116, #707521) !important;
      }
      
      tr.me {
        background-color: #EEE;
      }

      input#qnt-input {
        height: 74px;
        vertical-align: baseline;
        font-size: 60px;
        font-weight: bold;
        color: #404040;
        width: 35px;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 51px;
        height: 76px;
        padding: 0px;
        margin: 0px;
      }

      ul {
        /*height: 60px;*/
        display: inline-block;
        /*overflow: hidden;*/
        vertical-align: middle;
        /*border: 1px solid black;*/
        margin: 0px;
        padding: 0px;
        position: relative;
        width: 35px;
        vertical-align: middle;
      }

      li {
        list-style: none;
        height: 60px;
        color: #404040;
        font-weight: bold;
        font-size: 60px;
        line-height: 48px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      #quantity-slider {
        height: 60px;
        overflow: hidden;
        /*border: 1px solid black;*/
        display: inline-block;
        position: relative;
        width: 35px;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 16px;
      }

      #quantity-slider:hover, #quantity-slider > ul {
        cursor: pointer;
      }

      .hero-title {
        float: left;
      }

      .hero-lame {
        margin: 0 auto;
        width: 341px;
      }

      #quantity-slider li > h1 {
        color: #d03737;
      }
    </style>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="img/fav.png">
  </head>

  <body>
    <div style="width: 940px; margin: auto">
      <% if @me %><div style="float:right">Olá, <b><%= @me.name %></b>.</div><% end %>
    </div>
    
    <div class="container">
      
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class="hero-lame">
          <h1 class="hero-title">Fui buscar</h1>
          <div id="quantity-slider">
            <ul>
              <%= (0..5).map { |i| "<li><h1>#{i}</h1></li>" }.join("\n") %>
            </ul>
          </div>
        </div>
        
        <div class="row" style="margin: 40px auto 0px auto; text-align: center">
          <% @products.each do |p| %>
            <form method="post" action="/product/<%= p.id %>" style="display: inline">
              <input class="quantity" type="hidden" name="quantity" value="1">
              <input type="submit" value="<%= p.name %>" class="btn <%= p.style %> large my-btn" style="margin-top:10px; <%= "margin-right: 45px" unless p == @products.last %>">
            </form>
          <% end %>
        </div>
      </div>
      
      <div>
        <h2>Stats</h2>
        <br />
        <table class="table bordered-table">
          <thead>
            <tr>
              <th>Nome</th>
              <% @products.each do |p| %><th><%= p.name %></th><% end %>
              <th>A pagar</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |u| %>
              <tr <%= "class='me'" if u == @me %>>
                <td><%= u.name %></td>
                <% @products.each do |p| %>
                  <td><%= u.num_records(p) %></td>
                <% end %>
                <td><%= u.total_price %>€</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
    </div> <!-- /container -->
  </body>
</html>

